<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">
    Чаклун простягнув вперед руки й почав нашіптувати закляття. З його пальців вмить почали вириватися язики чорного полум'я у твоєму напрямку.<br><br>
    Тільки вони торкнулися твого тіла, тебе пронизав страшенний біль, неначе ти вже весь палаєш. Від болю ти починаєш кричати та котитися по землі, аби струсити з себе вогонь, але це не допомагає.<br><br>
    На щастя, це не могло тривати вічно, і через деякий час твої муки припинилися. На твій подив, фізичних ушкоджень тобі не було завдано, але цей біль, який позбавив тебе <span th:text="${damage}"></span> од. здоров'я, ти запам'ятаєш на все життя.
</div>
<div class="image"> <img id="img" src="/img/BlackFire.JPEG"> </div>
<div class="output">
    <a href="stepLight">Далі</a>
</div>
<div class="indicators">
    <p>Твій рівень життя: <span th:text="${heroLife}"></span></p>
    <p>Рівень життя Чаклуна: <span th:text="${wizardLife}"></span></p><br>
    <p>Час до перезаряджання:</p>
    <p><span th:text="${magic1}"></span><span th:text="${magic1Dots}"></span> <span th:text="${magic1Time}"></span></p>
    <p><span th:text="${magic2}"></span><span th:text="${magic2Dots}"></span> <span th:text="${magic2Time}"></span></p>
    <p><span th:text="${magic3}"></span><span th:text="${magic3Dots}"></span> <span th:text="${magic3Time}"></span></p>
    <p><span th:text="${magic4}"></span><span th:text="${magic4Dots}"></span> <span th:text="${magic4Time}"></span></p>
    <p><span th:text="${magic5}"></span><span th:text="${magic5Dots}"></span> <span th:text="${magic5Time}"></span></p>
    <p><span th:text="${magic6}"></span><span th:text="${magic6Dots}"></span> <span th:text="${magic6Time}"></span></p>
    <p><span th:text="${magic7}"></span><span th:text="${magic7Dots}"></span> <span th:text="${magic7Time}"></span></p><br>
    <p>Магічні ефекти:</p>
    <p>Шанс завдати зброєю критичний удар: <span th:text="${crucialEffect}"></span>%</p>
    <p>Шанс приголомшити ворога: <span th:text="${stunEffect}"></span>%</p>
    <p>Збільшено захист на: <span th:text="${equipmentProtection}"></span> од. + <span th:text="${defenceEffect}"></span>%</p>
    <p>Збільшено атаку на: <span th:text="${increaseAttackEffect}"></span>%</p>
    <p>Зменшено атаку ворога на: <span th:text="${decreaseAttackEffect}"></span>%</p>
</div>
</body>
</html>