<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">
    Раптом після удару Чаклун закляк. Наступної миті ти чуєш шалений крик, який тобі ще ніколи не доводилося чути.<br><br>
    Чаклун починає горіти з середини, доки через кілька хвилин від нього лишився лише попіл.<br><br>
    Тільки зараз ти помічаєш, що на горизонті вже видніється світанок, і починається новий день, який став трішечки кращим.<br><br>
    Сповнюючись умиротворенням, ти повертаєшся додому...
</div>
<div class="image"> <img id="img" src="/img/Win.JPEG"> </div>
<div class="output">
    <a href="finishGame">Завершити гру</a>
</div>
<div class="indicators"></div>
</body>
</html>