<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">- Хе-хе-хе! Ти справді думаєш, що можеш його посадити на кіл? Свята наївність.<br><br>І як же ти хочеш його покласти? Насмішити до смерті?</div>
<div class="image"> <img id="img" src="/img/Farmer.JPEG"> </div>
<div class="output">
    <a href="farmer3">- Та мене бояться всі на моїй Батьківщині!</a>
</div>
<div class="indicators"></div>
</body>
</html>