<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
  <title>MentalBattle</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">Ах-ах-ах! Я бачу сміливості (або ж дурості) тобі не позичати.<br><br>
  Добре, аміго! Жарти жартами, а було б непогано, якби хтось викурив цього хлопця з наших земель, а то набрид до кісточок.<br><br>
  Я дам тобі нашу валюту, і скажу тобі, де можна підкупити чогось корисного. Але ж ти не думаєш, що я тобі дам гроші просто так, еге ж?<br><br>
  Пропоную тобі розгадати 10 завдань. Чим швидше ти їх зможеш розгадати, тим більше грошей отримаєш. А як ти взагалі не тямиш, то дам тобі дріб'язок за мій гарний настрій і роби, що хочеш.</div>
<div class="image"> <img id="img" src="/img/Farmer.JPEG"> </div>
<div class="output">
  <a href="test1">Та я зараз все за мить розгадаю! Задавай!</a>
</div>
<div class="indicators"></div>
</body>
</html>