<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">Привіт, аміго! Я бачу, ти не з тутешніх місць. Яким вітром тебе сюди занесло?</div>
<div class="image"> <img id="img" src="/img/Farmer.JPEG"> </div>
<div class="output">
    <a href="farmer2">Та от казали, що в цих землях живе злий чаклун, який псує нерви місцевим. А ще казали, що за його голову дають солідну нагороду.</a>
</div>
<div class="indicators"></div>
</body>
</html>