<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">Мда, аміго, мій новонароджений син і то краще за тебе в математиці шарить. Тримай <span th:text="${money}"></span> песо.<br><br>
    Якщо наважишся на ці копійки сунутися до чаклуна, завітай спершу на наш ринок, і спитай там Болга. Може він і знайде щось для тебе.</div>
<div class="image"> <img id="img" src="/img/Farmer.JPEG"> </div>
<div class="output">
    <a href="merchant1">Дякую, чоловіче! Чекай на мене з гарними новинами!</a>
</div>
<div class="indicators">
    <p>Кількість правильних відповідей: <span th:text="${correctAnswers}"></span></p>
    <p>Кількість неправильних відповідей: <span th:text="${wrongAnswers}"></span></p>
    <p>Кількість грошей: <span th:text="${money}"></span></p>
</div>
</body>
</html>