<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">Щойно ти заходиш в місто, перед тобою розкидається місцевий невгамовний базар. Сморід тухлого м'яса змушує тебе скривитися. Та ти згадуєш, що тобі слід знайти торговця Болга.<br><br>
Тішачи себе думкою про майбутні лаври від перемоги над чаклуном, ти виходиш на площу. Ступаючи між рядами, ти звертаєш увагу на те, як бідно тут живуть люди. На прилавках переважно лежать підгнивші фрукти та овочі.
У м'ясних рядах ти відчуваєш, як тобі до горла підступає ком. Біля прилавка зі свининою ти ледь стримуєшся, аби не виблювати посеред вулиці.<br><br>
На щастя ти переходиш у ряди, вкриті східними килимами. Нарешті, можна видихнути...<br><br>
Раптом ти чуєш, як поруч прозвучало ім'я "Болг". Прислухавшись до розмови, ти розумієш, що Болгом звуть продавця килимів східної зовнішності, який стоїть поруч. Дочекавшись, поки співрозмовник піде, ти вирішуєш підійти.</div>
<div class="image"> <img id="img" src="/img/Market.JPEG"> </div>
<div class="output">
    <a href="merchant1">Далі</a>
</div>
<div class="indicators">
    <p>Песо: <span th:text="${money}"></span></p>
</div>
</body>
</html>