<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">Після цієї фрази торговець, занервувавши, і швидко озирнувся довкола. Після того, як він переконався, що поруч нікого немає, він кивком запропонував зайти до шатру, а потім зник у його тіні.</div>
<div class="image"> <img id="img" src="/img/Merchant.JPEG"> </div>
<div class="output">
    <a href="merchant3">Зайти до шатра</a>
</div>
<div class="indicators">
    <p>Песо: <span th:text="${money}"></span></p>
</div>
</body>
</html>