<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <title>MentalBattle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="text">- З давніх-давен вода вважається символом життя. Існують легенди, що саме з неї постали всі інші стихії.<br><br>
    У мене є такі амулети води:<br><br>
    <span>Шторм</span> - ворога накриває шаленим потоком води, який завдає ворогу ураження до <span th:text="${damageFlood}"></span> од.
    Під штормом ворог почне захлинатися, що додатково збільшить ураження від магії на <span th:text="${impactVolumeFlood}"></span> од.
    Його ціна - <span th:text="${priceFlood}"></span> песо.<br><br>
    <span>Цілюще джерело</span> - огортає тебе капсулою, яка регенерує твоє здоров'я на <span th:text="${impactVolumeHealingSpring}"></span> од. Щоправда, ворогу буде завдано шкоди до <span th:text="${damageHealingSpring}"></span> од.
    Цей унікальний амулет коштує <span th:text="${priceHealingSpring}"></span> песо.<br><br>
    <span>Льодяний шип</span> - витончена магія. Його укол, майже непомітний, вкриває льодом лати ворога, що ослаблює його для звичайної зброї. Завдає шкоди до <span th:text="${damageIceSpike}"></span> од.
    Цей амулет дозволяє збільшити силу звичайної зброї до <span th:text="${impactVolumeIceSpike}"></span>% на 3 ходи.
    Я візьму за нього <span th:text="${priceIceSpike}"></span> песо.<br><br>
</div>
<div class="image"> <img id="img" src="/img/Water.JPEG"> </div>
<div class="output">
    <form th:action="makePurchase" method="post">
        <button name="name" value="flood"><span class="spanButton" th:text="${descriptionFlood}"></span></button>
    </form><br>
    <form th:action="makePurchase" method="post">
        <button name="name" value="healingSpring"><span class="spanButton" th:text="${descriptionHealingSpring}"></span></button>
    </form><br>
    <form th:action="makePurchase" method="post">
        <button name="name" value="iceSpike"><span class="spanButton" th:text="${descriptionIceSpike}"></span></button>
    </form><br>
    <a href="magic">Назад</a>
</div>
<div class="indicators">
    <p>Песо: <span th:text="${money}"></span></p><br>
    <p>Магічні амулети:</p>
    <span th:text="${magic1}"></span><br>
    <span th:text="${magic2}"></span><br>
    <span th:text="${magic3}"></span><br>
    <span th:text="${magic4}"></span><br>
    <span th:text="${magic5}"></span><br>
    <span th:text="${magic6}"></span><br>
    <span th:text="${magic7}"></span>
</div>
</body>
</html>